h1 {
  line-height: 1;
  font-weight: normal;
}

h1 span {
  display: inline-block;
  margin: 0 0 0 .1em;
  padding: .2em;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: #3a3a3c;
  color: #fff;
}

.head-present {
  background-color: #b59f3b;
}

.head-correct {
  background-color: #538d4e;
}

